/* style.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Adjusted to automatically adjust based on content */
    width: 300px; /* Adjusted width for better visibility */
    padding: 20px; /* Added padding for spacing */
}
textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%; /* Adjusted width to fill the container */
    height: 150px; /* Adjusted height for better visibility */
    resize: vertical; /* Allow vertical resizing */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

.tooltip {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
}

.tooltip.active {
    display: block;
}
